body
{
	margin-top : 25px !important;
}

h1
{
	font-size : 24px !important;
	margin : 0 !important;
	padding : 0 !important;
}

h2
{
	text-align : center;
	font-style : italic;
	font-size : 18px !important;
	border-bottom : 1px solid #CCCCCC;
	padding-bottom : 5px;
}

ul#sortable, ul#nonsortable
{
	padding : 0;
}

ul#sortable li
{
	cursor : pointer;
}

.input_dossier_divers
{
	width : 75% !important;
	display : inline-block !important;
	margin-left : 20px !important;
}

#sortable .glyphicon
{
	margin-right : 15px;
	font-size : 16px;
	float : left;
	margin-top : 7px;
}

#sortable .glyphicon:hover
{
	color : red;
}

#sortable li input[type=checkbox], #nonSortable li input[type=checkbox]
{
	width : 25px;
	height : 25px;
	float : left;
	margin-right : 15px;
}

#sortable li, #nonSortable li
{
	min-height : 50px;
	line-height : 30px;
}

#sortable .badge
{
	margin-top : 5px;
}